#settings {
	background-color: lightGray;
	width: 325px;
	height: 250px;
	max-height: 450px;
	max-width: 450px;
	margin: auto;
	border: 5px solid black;
	border-radius: 5px;
	display: none;
}

.settingButtons {
	width: 165px;
	height: 50px;
}

a {
	color: blue;
}
